<header>
  <h1>Alpha Blog</h1>
  <nav>
    <a href="#">Home</a>
    <a href="#">Bloggers</a>
    <a href="#">Articles</a>
    <a href="#">Categories</a>
    <a href="#">Log in</a>
    <a href="#">Sign up</a>
  </nav>
  <div>
    <input type="text">
    <button>Search</button>
  </div>
</header>