<%= render 'header'%>

<%= render 'validation_errors'%>
<%= render 'form' %>
<div class="buttons_div">
  <%= link_to 'Cancel and return to articles listing', articles_path, :class => 'return_link' %> 
</div>
