header {
  width: 100vw;
  height: 7vh;
  padding: 10px 0px;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  color:white;
}
header nav{
  margin: 0 auto;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}
header nav a {
  color: white;
  text-decoration: none;
  padding: 2px;
}
header div{
  margin: 0 auto;
}
header div input{
  width: 12vw;
  height: 5vh;
  border-radius: 4px;
}
header div button{
  width: 6vw;
  height: 5vh;
  border-radius: 4px;
  background-color: black;
  color: greenyellow;
  border: greenyellow 2px solid;
}
.content{
  width: 100vw;
  height: 100vh;
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  height: 70%;
  width: 60%;
  margin: 3% auto;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}

.form img{
  width: 100%;
  height: 100%;
  position: relative;
}
form {
  margin-top: 2.5%;
  margin-left: 10%;
}
form p {
  margin-bottom: 10%;
  align-self: center;
}
form p label{
  font-size: 18px;
  font-weight: bold;
  padding: 6% 6% 6% 0;
}
form p input,
form p textarea {
  margin: 8px 0;
  width: 90%;
  height: 10%;
  line-height: 16px;
  align-self: center;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 8px;
}

form p input[type=text]:focus,
form p textarea:focus {
  box-shadow: 0 0 5px 5px rgba(137, 196, 244, 0.4);
}
form p input[type=submit]{
  padding: 20px;
  background-color: slategrey;
  font-size: 24px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}

.buttons_div {
  margin-left: 20%;
}
.return_link{
  margin-top: 10px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  background-color: slategrey;
  padding: 12px;
  border: 1px solid black;
  border-radius: 8px;
}

.article_data p{
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  margin: 20px 0px 0px 20px;
}

.create_button {
  margin-top: 10px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  background-color: blue;
  padding: 12px;
  border: 1px solid black;
  border-radius: 8px;
}

.delete_button {
  margin-top: 10px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  background-color: red;
  padding: 12px;
  border: 1px solid black;
  border-radius: 8px;
}

.edit_button {
  margin-top: 10px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  background-color: greenyellow;
  padding: 12px;
  border: 1px solid black;
  border-radius: 8px;
}

.articles_table {
  border-collapse: collapse;
  width: 100%;
}
.articles_table td,
.articles_table th {
  padding: 8px;
}

.articles_table tr:nth-child(even){background-color: #f2f2f2;}

.articles_table tr:hover {background-color: #ddd;}

.articles_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}