<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Lucas Carvalho Github Page", "https://www.github.com/lcsmachado", class: "text-white"%></small>
  </div>
</footer>